<div class="navbar main hidden-print">
  <%= link_to root_path, class: 'appbrand' do %>
  <span>Invoice</span>
  <% end %>
  </a>

  <button type="button" class="btn btn-navbar">
    <div class="icon-bar"></div>
    <div class="icon-bar"></div>
    <div class="icon-bar"></span>
  </button>

  <%= render 'shared/pull_right' %>
</div>

