<div class='widget'>
  <div class="widget-head">
    <h4 class="heading">Invoices</h4>
  </div>
  <div class="widget-body">
    <div class="row-fluid">
      <div class='span6'>
      <h3>Ticket Invoice</h3>
      <button class="btn btn-icon btn-primary glyphicons circle_ok pull-right" name="button" type="submit"><i>Create</i></button>
      <table class="table table-condensed">

        <thead>
          <tr>
            <th class="center">No.</th>
            <th>Nama</th>
            <th>Create at</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td class="center">1</td>
            <td>Lorem ipsum dolor</td>
          </tr>

          <tr>
            <td class="center">2</td>
            <td>Lorem ipsum dolor</td>
          </tr>

          <tr>
            <td class="center">3</td>
            <td>Lorem ipsum dolor</td>
          </tr>

        </tbody>

      </table>
      </div>
      <div class='span6'>
        <h3>Other Invoice</h3>
        <button class="btn btn-icon btn-primary glyphicons circle_ok pull-right" name="button" type="submit"><i>Create</i></button>
        <table class="table table-condensed">

        <thead>
          <tr>
            <th class="center">No.</th>
            <th>Nama</th>
            <th>Create at</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td class="center">1</td>
            <td>Lorem ipsum dolor</td>
          </tr>

          <tr>
            <td class="center">2</td>
            <td>Lorem ipsum dolor</td>
          </tr>

          <tr>
            <td class="center">3</td>
            <td>Lorem ipsum dolor</td>
          </tr>

        </tbody>

      </table>
      </div>
    </div>
  </div>
</div>
